@font-face {
  font-family: "Saira-Regular";   /*Can be any text*/
  src: local("Saira-Regular"),
  url("../fonts/Saira/static/Saira-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Black"),
  url("../fonts/Saira/static/Saira-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Saira-Bold";   /*Can be any text*/
  src: local("Saira-Bold"),
  url("../fonts/Saira/static/Saira-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Saira-Black";   /*Can be any text*/
  src: local("Saira-ExtraBold"),
  url("../fonts/Saira/static/Saira-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-ExtraLight"),
  url("../fonts/Saira/static/Saira-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Light"),
  url("../fonts/Saira/static/Saira-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Medium"),
  url("../fonts/Saira/static/Saira-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-SemiBold"),
  url("../fonts/Saira/static/Saira-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Saira";   /*Can be any text*/
  src: local("Saira-Thin"),
  url("../fonts/Saira/static/Saira-Thin.ttf") format("truetype");
}

:root {
  --bgColour: #ffffff;
  font-family: Saira-Regular;
}

*{
  margin: auto;
  /* color: #333; */
}

a {
    text-decoration: none;
}

.App {
  justify-content: center;
  align-items: center;
}

.cardColorPickerButton{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  border: #000000 solid 1px;
}

.image-upload{
  width: 600px;
  height: 400px;
  border-radius: 20%;
  object-fit: cover;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
